body {
    background: white;
}

#sesion {
    padding-left: 66rem;
    text-decoration: none;
    color: white;
}

nav#navbar a {
    color: white;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 57px;
    width: 240px;
    height: 92%;
    background: #2c4cdf;
    color: white;
    font-weight: bold;
}

.sidebar ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li:hover {
    text-decoration: none;
    background: #0066ff;
    border-left: 5px solid #E1F7E7;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.sidebar a {
    text-decoration: none;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.contenido {
    width: 82%;
    height: 82%;
    position: absolute;
    background: white;
    padding: 30px;
}

.sidebar ul ul {
    display: none;
    background: #0066ff;
}

.sidebar ul ul a {
    padding: 10px 30px;
}

.abrir {
    margin-left: 242px;
}